.body {
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  padding: 100px;

  &-design {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    padding: 0px 100px;

    &-image {
      width: 80%;
    }

    &-list {
      display: flex;
      flex-direction: column;
      font-size: 17px;
    }

    &-description {
      &-link {
        text-decoration: underline;
        color: rgba(136, 136, 136);
      }
    }
  }
}

.configration {
  width: 50%;
  color: rgba(136, 136, 136);
}
