.other {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 40px 0px;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
  }

  &-description {
    &-link {
      color: rgba(63, 71, 82);
      text-decoration: underline;
    }
  }
}
