@import "../../style/_mixins.scss";

.contact {
  display: flex;
  justify-content: space-around;
  padding: 100px;

  @include mobile {
    padding: 20px;
    flex-direction: column;
    gap: 40px 0px;
  }
}
