@import "../../style/_mixins.scss";

.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 100px;
  margin: 0 auto;
  gap: 30px 0px;

  @include mobile {
    width: 100%;
    padding: 20px;
  }

  &-link {
    text-decoration: underline;
    color: rgba(80, 80, 80);
  }

  &-design {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 90%;
    color: rgba(80, 80, 80);

    @include mobile {
      width: 100%;
    }

    &-title {
      font-size: 25px;
      color: rgba(0, 0, 0);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px 0px;

      &-item {
        list-style-type: disc;
        margin: 0px 30px;
      }
    }
  }
}
